{% extends 'layouts/doctor.html' %}

{% block title %}Mis Pacientes{% endblock %}
{% block header %}Mis Pacientes{% endblock %}
{% block header_mobile %}Pacientes{% endblock %}

{% block main_content %}
<div class="bg-white rounded-lg shadow-md overflow-hidden">
    <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Email
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Teléfono
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    DNI
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Obra Social
                </th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            
            {% for pac in pacientes %}
            <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm font-medium text-gray-900">
                        {{ pac.user.name }}
                    </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-700">
                        {{ pac.user.email }}
                    </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-700">
                        {{ pac.user.telefono if pac.user.telefono else 'N/A' }}
                    </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-700">
                        {{ pac.user.dni if pac.user.dni else 'N/A' }}
                    </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-700">
                        {{ pac.obra_social if pac.obra_social else 'N/A' }}
                    </div>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5" class="px-6 py-4 whitespace-nowrap text-center text-gray-500">
                    Aún no tienes pacientes en tu historial de turnos.
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}

